DB_HOST=db
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres
POSTGRES_PASSWORD=postgres
DB_PORT=5432
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
EMAIL_ID=<YOUR EMAIL_ID>
EMAIL_PASSWORD=<YOUR PASSWORD>
